<body style="background-color: #cccccc ; height: auto; text-align: center; padding-top: 1em; color: #000066;">
    <div class="container text-center mt-5"> 
        <div class="card" style="background-color: #cccccc;">
            <h1><strong class="mt-4"> SERIES </strong></h1>
        </div>
    </div>
    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422443">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422443.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422702">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422702.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422911">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422911.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423405">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423405.jpg" alt="">
            </a>
        </td>
    </tr>
    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423584">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423584.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683424222">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683424222.jpg" alt="">
            </a>
        </td>
    </tr>
</body>

<footer>
    <mat-toolbar style="background-color: black; text-align: center; border:1px dotted #000; padding:8px;">  
        <span style="padding-left: 30px; color:white; align-content: center; align:center;">
            PelisMiu  -  WEB Trabajo Fin de Master en Ingeniería de Telecomunicación  -  Juan Antonio Tora Cánovas
        </span>
    </mat-toolbar>
</footer>
