<body style="background-color: #cccccc ; height: auto; text-align: center; padding-top: 1em; color: #000066;">
    

    <div class="container text-center mt-5"> 
        <div class="card" style="background-color: #cccccc;">
            <h1><strong class="mt-4"> CONFIGURACIÓN </strong></h1>
        </div>
    </div>
    <span>
        <table style="position: relative; bottom: -40px; margin: auto;">
            <tr>
                <td scope="row"> 
                    Usuario:
                </td>
                <td scope="row"> 
                    {{usuario.id}}
                </td>
            </tr>
            <tr>
                <td scope="row"> 
                    Nombre:
                </td>
                <td scope="row"> 
                    <input type="text" [(ngModel)]="form_nombre" #recogida_formNombre name="formNombre">
                </td>
            </tr>
            <tr>
                <td scope="row"> 
                    Apellidos:
                </td>
                <td scope="row"> 
                    <input type="text" [(ngModel)]="form_apellidos" #recogida_formApellidos name="formApellidos">
                </td>
            </tr>
            <tr>
                <td scope="row"> 
                    Edad:
                </td>
                <td scope="row"> 
                    <input type="text" [(ngModel)]="form_edad" #recogida_formEdad name="formEdad">
                </td>
            </tr>
            <tr>
                <td scope="row"> 
                    Teléfono:
                </td>
                <td scope="row"> 
                    <input type="text" [(ngModel)]="form_telefono" #recogida_formTelefono name="formTelefono">
                </td>
            </tr>
            <tr>
                <td scope="row"> 
                    Género:
                </td>
                <td scope="row"> 
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="form_genero">
                        <mat-radio-button [value]="1">Masculino</mat-radio-button>
                        <mat-radio-button style="padding-left:3em" [value]="2">Femenino</mat-radio-button> <br>
                        <mat-radio-button [value]="3">Otro</mat-radio-button>
                    </mat-radio-group>
                </td>
            </tr>
            <tr>
                <td scope="row"> 
                    Activo:
                </td>
                <td scope="row"> 
                    <span> {{form_activo}}</span>
                </td>
            </tr>
            <tr>
                <td scope="row" colspan="2" style="text-align: center; height: 60px !important;"> 
                    <button mat-flat-button color="primary" (click)="actualizarUsuario()">
                        Actualizar usuario
                    </button> 
                    <button mat-stroked-button color="basic" (click)="eliminarUsuario()">
                        Eliminar cuenta
                    </button>
                </td>
            </tr>
        </table>
        

        <br>
        
        
    </span>
</body>

<footer>
    <mat-toolbar style="background-color: black; text-align: center; border:1px dotted #000; padding:8px;">  
        <span style="padding-left: 30px; color:white; align-content: center; align:center;">
            PelisMiu  -  WEB Trabajo Fin de Master en Ingeniería de Telecomunicación  -  Juan Antonio Tora Cánovas
        </span>
    </mat-toolbar>
</footer>
