<body style="background-color: #3cb5f2 ; height: auto;">
    
    <span style="display: none;">{{contenido}}</span>
        Año: {{contenido.anho}}
        <br>Descripción: {{contenido.descripcion}}
        <br>Generos a los que pertenece: {{contenido.generosPertenece}}
        <br>Id de contenido seleccionado: {{contenido.idContenido}}
        <br>Link contenido Youtube: {{contenido.linkVideo}}
        <br>Nombre: {{contenido.nombre}}
</body>

<footer>
    <mat-toolbar style="background-color: black; text-align: center; border:1px dotted #000; padding:8px;">  
        <span style="padding-left: 30px; color:white; align-content: center; align:center;">
            PelisMiu  -  WEB Trabajo Fin de Master en Ingeniería de Telecomunicación  -  Juan Antonio Tora Cánovas
        </span>
    </mat-toolbar>
</footer>
