<header style="display:contents; bootbackground-image: linear-gradient(180deg, #9fb7f5 0, #6c90d8 50%, #1a1e22 100%);" class="p-3 mb-3;">
    <mat-toolbar style="background-image: linear-gradient(180deg, #9fb7f5 0, #6c90d8 50%, #1a1e22 100%);" class="p-3 mb-3;">  
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <img class="logo" style="display:flex; scale:0.4; padding-right: 3EM;" src="../../../assets/LogoPelismiu.png" alt="foto corporativa">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
                </a>       
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/catalogo" class="nav-link px-2 link-secondary">Catálogo</a></li>
                    <li><a href="/tendencias" class="nav-link px-2 link-dark">Tendencias</a></li>
                    <li><a href="/drama" class="nav-link px-2 link-dark">Drama</a></li>
                    <li><a href="/comedia" class="nav-link px-2 link-dark">Comedia</a></li>
                    <li><a href="/accion" class="nav-link px-2 link-dark">Acción</a></li>
                    <li><a href="/series" class="nav-link px-2 link-dark">Series</a></li>
                </ul>  
                <div style="padding-left: 3em;" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
                    <strong>{{cookieCorreo}}</strong>
                </div>
                <div class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center">
                    <a href="/configuracion" class="nav-link px-2 link-dark">
                        <img src="./../../../assets/RuedaConfiguracion.png" alt="mdo" width="32" height="32" class="rounded-circle"> 
                    </a>
                </div>
                <button type="button" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" mat-raised-button color="warn" (click)="logout()">LogOut</button>
            </div>
        </div>
    </mat-toolbar>  
</header>

<body style="background-color: #3cb5f2 ; height: auto;">
    
    <!--<table-->
        
        <tr>
            <!--<td scope="row" *ngFor="let contenido of contenidos"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="{{'../../../assets/Carteleras/'+ contenido.idContenido + '.jpg'}}" alt="foto corporativa">
            </td>-->
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1681079630.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683420707.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683420864.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421196.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421305.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421435.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421517.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421631.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421726.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421965.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422086.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422149.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422251.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422333.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422443.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422628.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422702.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422769.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422911.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423004.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423109.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423180.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423257.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423332.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423405.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423490.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423584.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683424222.jpg" alt="">
            </td>
        </tr>
        <!--<tr> 
            <td scope="row" *ngFor="let contenido of contenidos" > 
                <span>
                    {{contenido.nombre}}
                </span>
            </td>
        </tr>-->
    <!--</table>-->
</body>

<footer>
    <mat-toolbar style="background-color: black; text-align: center; border:1px dotted #000; padding:8px;">  
        <span style="padding-left: 30px; color:white; align-content: center; align:center;">
            PelisMiu  -  WEB Trabajo Fin de Master en Ingeniería de Telecomunicación  -  Juan Antonio Tora Cánovas
        </span>
    </mat-toolbar>
</footer>
