<body style="background-color: #cccccc ; height: auto; text-align: center; padding-top: 1em; color: #000066;">
    <H1>
        <span> <strong>CATÁLOGO </strong></span>
    </H1>
    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1681079630">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1681079630.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683420707">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683420707.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683420864">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683420864.jpg" alt="">
            </a>
        </td>
        <td scope="row">
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683421196">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421196.jpg" alt="">
            </a>
        </td>
    </tr>
    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683421305">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421305.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683421435">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421435.jpg" alt="">
            </a>

        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683421517">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421517.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683421631">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421631.jpg" alt="">
            </a>
        </td>
    </tr>

    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683421726">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421726.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683421965">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421965.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422086">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422086.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422149">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422149.jpg" alt="">
            </a>
        </td>
    </tr>
    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422251">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422251.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422333">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422333.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422443">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422443.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422628">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422628.jpg" alt="">
            </a>
        </td>
    </tr>
    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422702">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422702.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422769">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422769.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683422911">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422911.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423004">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423004.jpg" alt="">
            </a>
        </td>
    </tr>




    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423109">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423109.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423180">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423180.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423257">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423257.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423332">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423332.jpg" alt="">
            </a>
        </td>
    </tr>
    <tr>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423405">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423405.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423490">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423490.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683423584">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423584.jpg" alt="">
            </a>
        </td>
        <td scope="row"> 
            <a href="/contenido-seleccionado?idContenidoSeleccionado=1683424222">
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683424222.jpg" alt="">
            </a>
        </td>
    </tr>
</body>

<footer>
    <mat-toolbar style="background-color: black; text-align: center; border:1px dotted #000; padding:8px;">  
        <span style="padding-left: 30px; color:white; align-content: center; align:center;">
            PelisMiu  -  WEB Trabajo Fin de Master en Ingeniería de Telecomunicación  -  Juan Antonio Tora Cánovas
        </span>
    </mat-toolbar>
</footer>
