<body style="background-color: #3cb5f2 ; height: auto;">
    
    <!--<table-->
        
        <tr>
            <!--<td scope="row" *ngFor="let contenido of contenidos"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="{{'../../../assets/Carteleras/'+ contenido.idContenido + '.jpg'}}" alt="foto corporativa">
            </td>-->
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1681079630.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421517.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683421965.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422333.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683422628.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423004.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423109.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423180.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423257.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423332.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423405.jpg" alt="">
            </td>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683423490.jpg" alt="">
            </td>
        </tr>
        <tr>
            <td scope="row"> 
                <img class="imagenesTabla" style=" scale:0.4; padding-right: 3EM;" src="../../../assets/Carteleras/1683424222.jpg" alt="">
            </td>
            <td scope="row"> 
            </td>
            <td scope="row"> 
            </td>
            <td scope="row"> 
            </td>
        </tr>
        <!--<tr> 
            <td scope="row" *ngFor="let contenido of contenidos" > 
                <span>
                    {{contenido.nombre}}
                </span>
            </td>
        </tr>-->
    <!--</table>-->
</body>

<footer>
    <mat-toolbar style="background-color: black; text-align: center; border:1px dotted #000; padding:8px;">  
        <span style="padding-left: 30px; color:white; align-content: center; align:center;">
            PelisMiu  -  WEB Trabajo Fin de Master en Ingeniería de Telecomunicación  -  Juan Antonio Tora Cánovas
        </span>
    </mat-toolbar>
</footer>
